{{ 'cap-cart.css' | asset_url | stylesheet_tag }}
<script>
    window.translations = {
        otp_expired_resend: "{{ 'link_card.otp_expired_resend' | t }}",
        otp_sent_registered_mobile: "{{ 'link_card.otp_sent_registered_mobile' | t }}",
        unable_to_resend_otp: "{{ 'link_card.unable_to_resend_otp' | t }}",
        error_resending_otp: "{{ 'link_card.error_resending_otp' | t }}",
        phone_not_found_resend_otp: "{{ 'link_card.phone_not_found_resend_otp' | t }}",
        has_error_try_again: "{{ 'link_card.has_error_try_again' | t }}",
        please_enter_jps_club_id: "{{ 'link_card.please_enter_jps_club_id' | t }}",
        please_enter_valid_phone: "{{ 'link_card.please_enter_valid_phone' | t }}",
        please_enter_mobile_no: "{{ 'link_card.please_enter_mobile_no' | t }}",
        please_enter_correct_otp: "{{ 'link_card.please_enter_correct_otp' | t }}",
        error_verifying_otp: "{{ 'link_card.error_verifying_otp' | t }}",
        otp_authentication_error: "{{ 'link_card.otp_authentication_error' | t }}",
        please_enter_valid_id_or_contact: "{{ 'link_card.please_enter_valid_id_or_contact' | t }}",
        error_not_found_phone_validate: "{{ 'link_card.error_not_found_phone_validate' | t }}",
        missing_jps_id_or_customer_id: "{{ 'link_card.missing_jps_id_or_customer_id' | t }}",
        please_select_valid_method: "{{ 'link_card.please_select_valid_method' | t }}"
    }
</script>
<div id="loader-overlay" class="overlay">
    <div class="spinner"></div>
</div>
<style>
    .overlay {
        display: none;
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: rgba(0, 0, 0, 0.5);
        justify-content: center;
        align-items: center;
        z-index: 99;
    }
    .spinner {
        border: 4px solid #f3f3f3;
        border-top: 4px solid #3498db;
        border-radius: 50%;
        width: 50px;
        height: 50px;
        animation: spin 1s linear infinite;
    }
</style>

{% if customer %}
    <div class="cart__addon cart__footer--cart-link no-js-hidden {% if customer.metafields.capillary.linkcard %} active{% endif %}">
        <details is="accordion-details" class="accordion-details cart-accordion-details">
            <summary class="accordion-details__summary flex items-center justify-between font-body-bolder h6">
                <div class="flex gap-2 items-center">
                    <h4>{{ 'link_card.jps_club_id' | t }}</h4>
                </div>
                {%- render 'icon-caret-down' -%}
            </summary>
            <cart-note class="flex flex-col items-start gap-5 accordion-details__content">
                <div class="accordion-details__content w-full">
                    {% if customer.metafields.capillary.linkcard %}
                        <div class="jpscard-group">
                            <img class="jpscard-group-img" src="https://mcstaging-1-5.cpschaps.com/media/smartosc/capillary/tier_jps_plus/default/JPS_PLUS__2.png" alt="Capillary Image">
                            <div class="eligible-points">
                                <h3 class="point-label">{{ 'link_card.eligible_points' | t }}</h3>
                                <h2 class="points">0</h2>
                            </div>
                            <input type="hidden" name="name-type-card" id="name-type-card" value="{{ customer.metafields.capillary.capillary_loyalty_group }}">
                            <input type="hidden" name="myjpscard_id" id="myjpscard_id" value="{{ customer.metafields.capillary.myjpscard_id }}">
                            <div class="cap-block__error">
                                <span class="mycard-error-msg">
                                    {{ 'link_card.please_enter_card_id' | t }}
                                </span>
                            </div>
                        </div>
                    {% else %}
                        <div class="mycards-methods form-field w-full">
                            <label class="form-label" for="link-method">{{ 'link_card.link_method' | t }}</label>
                            <div class="select">
                                <select name="link-method" id="link-method" class="form-control form-control--select">
                                    <option value="jps_club" selected>{{ 'link_card.jps_club_id' | t }}</option>
                                    <option value="mobile_no">{{ 'link_card.mobile_no' | t }}</option>
                                </select>
                                {%- render 'icon-caret-down' -%}
                            </div>
                        </div>
                        <div class="cap-block__item jps_club--id form-field w-full">
                            <div class="mycards-content">
                                <div class="mycards method jps_club active">
                                    <label class="jps_club_id__title form-label" for="myjpscard_id">
                                        {{ 'link_card.jps_club_id' | t }}
                                    </label>
                                    <input class="jps_club_id__input form-control form-control--input" type="text" name="club_id" id="myjpscard_id" value="" placeholder="{{ 'link_card.enter_jps_club_id' | t }}">
                                </div>
                                <div class="mycards method mobile_no">
                                    <label class="mobile_no_id__title  form-label">
                                        {{ 'link_card.mobile_no_short' | t }}
                                    </label>
                                    <input class="mobile_no_id__input form-control form-control--input" type="text" name="mobile_no" id="mymobile_no" value="" placeholder="{{ 'link_card.enter_mobile_no' | t }}">
                                </div>
                                <span class="mycard-error-msg">{{ 'link_card.please_enter_card_id' | t }}</span>
                            </div>
                        </div>
                        <div class="cap-block__item jps_club--add form-field w-full">
                            <div class="jps_club_add add-jpscard-button btn btn--primary">
                                {{ 'link_card.add' | t }}
                            </div>
                            <span class="loading-overlay hidden">
                                {% render 'svg-icons' with 'thb-loading' %}
                            </span>
                        </div>
                    {% endif %}
                </div>
            </cart-note>
        </details>
    </div>
    <!-- Popup Form -->
    <div id="otpPopupForm" class="otp-popup-form" style="display: none;">
        <div class="form-content">
            <span id="closeOtpButton" class="close-btn">&times;</span>
            <h2>{{ 'link_card.otp_verification' | t }}</h2>
            <p>{{ 'link_card.enter_otp_prompt' | t }}</p>
            <p class="phone-number"></p>
            <input type="hidden" name="phone-val" id="phone-val" value="{{ club.phone }}">
            <input type="hidden" name="customer-id-val" id="customer-id-val" value="{{ customer.id }}">
            <input type="hidden" name="time-show-rs" id="resend-time" value="">
            <div class="otp-inputs">
                <input class="otp-input" type="text" maxlength="1">
                <input class="otp-input" type="text" maxlength="1">
                <input class="otp-input" type="text" maxlength="1">
                <input class="otp-input" type="text" maxlength="1">
                <input class="otp-input" type="text" maxlength="1">
                <input class="otp-input" type="text" maxlength="1">
            </div>
            <p class="resend-content">{{ 'link_card.did_not_receive_otp' | t }} <a href="#" id="resendOtpLink">{{ 'link_card.resend_otp' | t }}</a></p>
            <p class="timer" id="otpTimer">05:00</p>
            <p class="error-message" id="otpErrorMessage" style="display: none;">{{ 'link_card.otp_expired_resend' | t }}</p>
            <button type="submit" id="submitOtpButton">{{ 'link_card.submit' | t }}</button>
            <p class="help-link">{{ 'link_card.need_help_please_visit' | t }} <a href="#">{{ 'link_card.jps_club_website' | t }}</a></p>
        </div>
    </div>
    <script src="{{ 'cap-cart.js' | asset_url }}" defer="defer"></script>
{% endif %}